# Common sys files
.*.swp
._*
.git
.hg
.sign
.lock-wscript
.svn
.wafpickle-*
.DS_Store
.idea/
*.tar
*.jxp
*.sublime-*

# Logs
*.log

# NPM files
npm-debug.log
node_modules
modules/jxcore/bin
.sass-cache
style.css
html-angular*
vendor
nw
CVS
cache
downloads
generated
test/support
deps

# Kalabox
build
dist
version.lock
