.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
dist
.sign
node_modules

# CLI
.*.swp
._*
.git
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
npm-debug.log
.DS_Store
.idea/
*.log
cache
coverage
docs
deploy
node_modules
cids
.boot2docker
built
build
*.tar
*.jxp
bin/kbox*
*.sublime-*
dist
version.lock
