language: node_js
sudo: required
matrix:
  include:
  - os: linux
    env: KBOX_PKG_TYPE=rpm KBOX_SUDO_PASSWORD=
    node_js: '4.2'
  - os: linux
    env: KBOX_PKG_TYPE=deb KBOX_SUDO_PASSWORD=
    node_js: '4.2'
  - os: osx
    env: KBOX_PKG_TYPE=dmg
    node_js: '4.2'
services:
  - docker

before_install:

  # Install some node deps
  - npm install -g grunt-cli bower

  # We need sass to build the GUI
  - gem install sass

before_script:

  # Edit the package.json if this isn't an official release
  - if [ -z "$TRAVIS_TAG" ]; then node ./scripts/dev-version.js; fi

  # Nice dev helpers to verify our env
  - ./scripts/travis-env.sh

  # Sanity checks
  - node --version
  - npm --version
  - grunt --version
  - node_modules/jxcore/bin/jx --version
  - node_modules/jxcore/bin/jx --jxversion
  - ruby --version
  - gem --version
  - bower --version
  - sass --version
  - node bin/kbox.js version

script:

  # Run code and styling
  - grunt test:code
  - grunt test:unit

  # Run the build
  - mkdir -p release
  - grunt pkg

  # Run a few tests on the installer
  # @todo: OSX
  - if [ $KBOX_PKG_TYPE == "rpm" ]; then rm -f dist/*.deb && fakeroot -- alien -dc dist/kalabox.rpm && mv *.deb dist/kalabox.deb; fi
  - if [ $KBOX_PKG_TYPE != "dmg" ]; then grunt func; fi

  # Name the release depending on whether it is an official release or not
  - if [ -z "$TRAVIS_TAG" ]; then cp -rf dist/kalabox.$KBOX_PKG_TYPE release/kalabox-latest-dev.$KBOX_PKG_TYPE; fi
  - if [ ! -z "$TRAVIS_TAG" ]; then cp -rf dist/kalabox.$KBOX_PKG_TYPE release/kalabox-$TRAVIS_TAG.$KBOX_PKG_TYPE; fi

before_deploy:

  # Do some basic tests of our build
  - echo "Need to add tests still"

notifications:
  irc:
  - chat.freenode.net#kalabox
  email:
    recipients:
    - mike@kalabox.io
    - alec@kalabox.io
    on_success: always
deploy:
  - provider: releases
    api_key:
      secure: MDL8ub5md5MQFhcZrsX15qEJ9pJPrQ2jIzFQNergsXh3D0bEO3mNbeCcN9kI2S6chUIxpxwvoJnNXsN66ZNn3NzFVyf4QKQV6thBDFgapZN5sYk2u0QD6pyc9Q7RaRwGzqLXdRFdF0KRLPx0lH9DsA0RJ1t85vuBbUK9f/0ys1w=
    file: release/kalabox-$TRAVIS_TAG.$KBOX_PKG_TYPE
    skip_cleanup: true
    on:
      repo: kalabox/kalabox
      tags: true
  - provider: s3
    access_key_id: AKIAJO2C7GYG5GL5G74A
    secret_access_key:
      secure: Sr0cMoJ6ZtRSh4H6xwu/CV1pj5xaYgtE5vup80r4fDygfi5C/mFqzCOODWN928nzZHOXWkG13myhLgTztMYDkIkN+TIVP9BmHXpIqWaZsHeytrdLUJMSNsL1Dc8Ixm4kqJBqla9mRgjZaWYceDhbHFvdUZNA7s9Mr1fUUmGyYyI=
    bucket: installer.kalabox.io
    local-dir: release
    acl: public_read
    region: us-west-2
    skip_cleanup: true
    on:
      repo: kalabox/kalabox
      branch: v0.13
