language: node_js
os:
  - linux
  - osx
matrix:
  include:
    - os: linux
      sudo: false
    - os: osx
node_js:
- '4.2'
before_install:
- cp ci/travis-ci.sh $HOME/
- chmod +x $HOME/travis-ci.sh
- cp ci/npm-config.sh $HOME/
- chmod +x $HOME/npm-config.sh
- $HOME/travis-ci.sh before-install
before_script:
- $HOME/travis-ci.sh before-script
script:
- $HOME/travis-ci.sh script
after_script:
- $HOME/travis-ci.sh after-script
after_success:
- $HOME/travis-ci.sh after-success
before_deploy:
- $HOME/travis-ci.sh before-deploy
- cd built
after_deploy:
- $HOME/travis-ci.sh after-deploy
cache:
  directories:
  - node_modules
notifications:
  irc:
  - chat.freenode.net#kalabox
  email:
    recipients:
    - mike@kalamuna.com
    - ben@kalamuna.com
    on_success: always
env:
  global:
  - secure: PL3L4KbkfxEwH24D/eVwYMeucjpYwtKifVE8nQRJBzXWGI5U6clG96WAO8GZjsde/e9Mw3WTfrRbNXyDPalPU+Bn3T/esRNhHedjXO6ZLODNSJsavesXNOZ/To5NjnARg8KjmBz8/A31F11F5oOUxPKhq0Lw3OGcQqkK3CkqFNo=
  - secure: N+6OhnQY9QEDkXkKSZ6/gvhlmX/2I0yKA3GexgXbIW3sHuRczoJw/5gva18z6/KxaWzyNZOgnmxi+tFDz64s0APa1xdtqYgJ6S2RgCASQ8sXrSzpXTFtIzQ81EahPtIiAZsm50W1sUpKPR0MZJG8jZhN6+NE9MqjNcnAUvjzhrE=
  - secure: bJGGxFBQPXCR5Z0T0Bcx3XfNSGQ+uLHyFHa3HOsngN074B2He1yLvQZTAjCXCpG7125+Nmtcb9FEs2NFhrBl7vfCI6a+jhec9pQe7zmdNTRyARt9a20Kbm6qBuzPbypRPPJVRauFGLjpJksDdAxeVZPJRhOauq3Wl40O3ft0UoU=

