language: cpp
sudo: required
env:
  matrix:
    - KALABOX_BUILD_PLATFORM=osx
    - KALABOX_BUILD_PLATFORM=linux
    - KALABOX_BUILD_PLATFORM=windows
services:
- docker
before_install:
- cp ci/travis-ci.sh $HOME/
- $HOME/travis-ci.sh before-install
install:
- $HOME/travis-ci.sh install
before_script:
- $HOME/travis-ci.sh before-script
script:
- $HOME/travis-ci.sh script
after_script:
- $HOME/travis-ci.sh after-script
after_success:
- $HOME/travis-ci.sh after-success
before_deploy:
- $HOME/travis-ci.sh before-deploy
after_deploy:
- $HOME/travis-ci.sh after-deploy
notifications:
  irc:
  - chat.freenode.net#kalabox
  email:
    recipients:
    - mike@kalabox.io
    - riley@kalabox.io
    - alec@kalabox.io
    on_success: always
deploy:
  provider: s3
  access_key_id: AKIAJO2C7GYG5GL5G74A
  secret_access_key:
    secure: Sr0cMoJ6ZtRSh4H6xwu/CV1pj5xaYgtE5vup80r4fDygfi5C/mFqzCOODWN928nzZHOXWkG13myhLgTztMYDkIkN+TIVP9BmHXpIqWaZsHeytrdLUJMSNsL1Dc8Ixm4kqJBqla9mRgjZaWYceDhbHFvdUZNA7s9Mr1fUUmGyYyI=
  bucket: installer.kalabox.io
  local-dir: dist
  acl: public_read
  region: us-west-2
  skip_cleanup: true
  on:
    repo: kalabox/kalabox
    tags: true
