<div class="container shutdown">
  <div class="row">
    <div class="col-xs-12">
      <h1> Shutting Down</h1>
      <h2 ng-controller="RandomMessageCtrl" class="random-message" ng-bind="ui.randomMessage"></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" type="button" ng-click="ok()">Force Close</button>
    </div>
  </div>
</div>

<div class="clouds">
  <i id="cloud-light" class="cloud"></i>
  <i id="cloud-white" class="cloud"></i>
  <i id="cloud-gray" class="cloud"></i>
  <i id="cloud-dark" class="cloud"></i>
  <i id="cloud-front" class="cloud"></i>
</div>
