<div class="connection-info container">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" ng-bind="'Connection Info for ' + site.name"></h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="service appserver col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Site Urls</h3>
          </div>
          <div class="panel-body">
            <div ng-repeat="service in services">
              <div ng-if="service.url">
                <h4 ng-repeat="url in service.url">{{url}} <span class="label label-info">{{service.name}} service</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="db in services">
        <div class="service database col-xs-12" ng-if="db.name == 'db' && db.external_connection_info">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Database Browsing Connection Info</h3>
            </div>
            <div class="panel-body">
              <div class="col-xs-6">
                <p>Use to connect with your database via a SQL browser like SequelPro or the command line.</p>
                <label>Command Line</label>
                <br>
                <input ng-model="'mysql -u ' + db.external_connection_info.user
                + ' -p' + db.external_connection_info.password + ' -h ' +
                db.external_connection_info.host + ' -P ' +
                db.external_connection_info.port + ' ' +
                db.external_connection_info.database" readonly select-on-click>
                <br>
                <label>Host</label>
                <br>
                <input ng-model="db.external_connection_info.host" readonly select-on-click>
                <br>
                <label>Username</label>
                <br>
                <input ng-model="db.external_connection_info.user" readonly select-on-click>
                <br>
                <label>Password</label>
                <br>
                <input ng-model="db.external_connection_info.password" readonly select-on-click>
                <br>
                <label>Port</label>
                <br>
                <input ng-model="db.external_connection_info.port" readonly select-on-click>
                <br>
                <label>DB Name</label>
                <br>
                <input ng-model="db.external_connection_info.database" readonly select-on-click>
              </div>
              <div ng-if="db.name == 'db' && db.internal_connection_info" class="col-xs-6">
                <p>Use when installing your Drupal, Wordpress, or Backdrop on Kalabox.</p>
                <label>Host</label>
                <br>
                <input ng-model="db.internal_connection_info.host" readonly select-on-click>
                <br>
                <label>Username</label>
                <br>
                <input ng-model="db.internal_connection_info.user" readonly select-on-click>
                <br>
                <label>Password</label>
                <br>
                <input ng-model="db.internal_connection_info.password" readonly select-on-click>
                <br>
                <label>Port</label>
                <br>
                <input ng-model="db.internal_connection_info.port" readonly select-on-click>
                <br>
                <label>DB Name</label>
                <br>
                <input ng-model="db.internal_connection_info.database" readonly select-on-click>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Got it, Thanks!</button>
  </div>
</div>
