<div class="pantheon-authorization">
  <div ng-if="authorizing" class="loader">
    <div class="loader-inner line-scale">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h4>Authenticating</h4>
  </div>
    <div ng-if="!authorizing" class="authForm">
    <h4 ng-bind="'Authenticate with ' + provider.name"></h4>
    <div class="alert alert-danger" ng-if="errorMessage">Is your Pantheon machine token valid? <a link="https://dashboard.pantheon.io/machine-token/create/Kalabox" browser>Grab a new one</a> if in doubt!</div>
    <form name="authForm">
      <div class="form-group">
        <label for="authMachineToken">Machine Token</label>
        <input type="password" class="form-control" id="authMachineToken" placeholder="Machine Token" ng-model="token" ng-enter="ok(token)" required>
      </div>
      <p>No token, no problem. <a link="https://dashboard.pantheon.io/machine-token/create/Kalabox" browser>Get a new one.</a></p>
    </form>
    <div class="form-actions">
      <button class="btn btn-primary" type="button" ng-disabled="authForm.$invalid" ng-click="ok(token); $event.stopPropagation();">Submit</button>
      <button class="btn btn-default" type="button" ui-sref="dashboard.sidebar">Cancel</button>
    </div>
  </div>
</div>
