[Desktop Entry]
Name=Kalabox
Comment=Fast local dev
Keywords=development;
OnlyShowIn=GNOME;KDE;LXDE;MATE;Razor;ROX;TDE;Unity;XFCE;EDE;Cinnamon;Old;Pantheon;
Path=/usr/share/kalabox/
Exec=/usr/share/kalabox/Kalabox
Icon=/usr/share/kalabox/kalabox.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Utility;
