<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalabox</title>

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

  </head>

  <body ng-app="kalabox" ng-controller="AppController as appController" class="{{ appController.bodyClasses }}">
    <div id="main" role="main">
      <div id="content" class="container" ui-view></div>
    </div>
  </body>

</html>
