$dark-bg: #1D2E3D;
$gray-lightest: #ccc;
$navmenu-inverse-bg: $dark-bg;
$navmenu-inverse-link-active-bg: #23374A;
$navmenu-inverse-link-hover-color: $gray-lightest;
$navmenu-inverse-link-color: $gray-light;
