<div class="container initialize">
  <div class="row">
    <div class="col-xs-12">
      <h1>Starting the Kalabox engine...</h1>
      <h2 ng-controller="RandomMessageCtrl" class="random-message" ng-bind="ui.randomMessage"></h2>
    </div>
  </div>
</div>

<div class="clouds">
  <i id="cloud-light" class="cloud"></i>
  <i id="cloud-white" class="cloud"></i>
  <i id="cloud-gray" class="cloud"></i>
  <i id="cloud-dark" class="cloud"></i>
  <i id="cloud-front" class="cloud"></i>
</div>
