<div class="container start">
  <div class="top row">
    <div class="col-xs-4 logo">
      <img src="images/kalabox-blue.svg" alt="Really good looking logo of Kalabox" />
    </div>
    <div class="col-xs-8 lead speech-bubble" id="info">
      <h1>Well that's strange.</h1>
      <p>It looks like you haven't installed Kalabox yet. Please <a href="http://www.kalabox.io">download Kalabox</a>, run the uninstall script included, and then run the installer.</p>
    </div>
  </div>
  <hr>
</div>
